<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Upload Image for ViT Model</title>
</head>
<body>
    <h1>Upload Image for ViT Model</h1>

    <form action="vitpred" method="post" enctype="multipart/form-data">
        <label for="image">Choose an image:</label>
        <input type="file" name="image" id="image" accept="image/*" required>
        <input type="submit" value="Classify">
    </form>
</body>
</html>
